.exposition-section{
    &__image{
        width: 100%;
        margin-top: -1rem;
        margin-bottom: -1rem;
    }

    &__card-wrapper{
        background-color: $color-light;
        &--no-bg{
            background-color: transparent;
        }
    }

    &__card{
        display: flex;
        flex-direction: column;
        
        @include for-desktop-up{
            width: 80%;
            margin: 0 auto;

            flex-direction: row;
            align-items: center;

            column-gap: 10%;
        }

        padding: 8rem 3rem;
        &--no-y-padding-tablet{
            @include for-tablet-port-up{
                padding: 0 3rem;
            } 
        }
        @include for-desktop-up{
            padding: 0;
        }
    }

    &__text-box{
        text-align: center;
        margin-top: 8rem;
        order: 2;

        @include for-desktop-up{
            text-align: left;

            order: 1;
            flex: 1 1 50%;
            margin-top: 0rem;
        }
    }
    &__card--order-no-change &__text-box{
        order: 2;
    }

    &__heading-primary{
        margin-bottom: 1rem;
    }

    &__body-text{
        max-width: 60ch;
        margin: 0 auto;

        @include for-desktop-up{
            margin: 0;
        }
    }

    &__image-main{
        order: 1;
        @include for-desktop-up{
            order: 2;
            flex: 1 1 50%;
        }

        width: 100%;
        @include for-tablet-port-up{
            width: 60%;
            margin: 0 auto;
        }
        @include for-desktop-up{
            width: 100%;
        }

        object-fit: contain;
        mix-blend-mode: multiply;
    }
    &__card--order-no-change &__image-main{
        order: 1;
    }
}