.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 2rem;
    @include for-tablet-port-up{
        padding: 5rem 3rem;
    }
    @include for-desktop-up{
        padding: 6rem 4rem;
    }


    &__logo{
        width: 16rem;
        @include for-tablet-port-up{
            width: 22rem;
        }
    }
}